.headings {
  color: cornflowerblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}
li {
  color: darkslateblue;

  .link {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
   margin: 12px;
  }
}
h5 {
  color:indigo;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
