.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.856);
  color: white;
  text-align: center;
}
.icon{
  display: inline;
  font-size: 25px;
  padding-left: 20px;

}

